* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
font-family: Arial, sans-serif;
background-color: lightblue;
font-family: Arial;
}


h1 {
color: darkblue;
}

img {
border: 3px solid black;
}
